* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 3, 28);
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    font-size: 48px;
}

header {
    padding: 10px 0;
    border-bottom: 1px solid rgb(24, 2, 108);
}

main {
    padding: 40px 80px;
}

img {
    width: 100%;
    max-width: 280px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 40px 0 80px 0;
}

.card {
    border-radius: 12px;
    text-align: center;
    border: 1px solid rgb(24, 2, 108);
    width: 100%;
    max-width: 320px;
    padding: 20px 10px;
}

.section-form {
    text-align: center;
}

form {
    background-color: rgba(0, 0, 15, 0.596);
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
    border: 1px solid rgb(24, 2, 108);
    border-radius: 12px;
    padding: 60px 0;
}

.box {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

label {
    text-align: left;
    margin: 20px 0 10px 0;
}

input {
    height: 40px;
    padding-left: 8px;
}

button {
    margin-top: 40px;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(12, 3, 28);
    border: 1px solid rgb(24, 2, 108);
    color: white;
    font-size: 18px;
    font-weight: bold;
}