* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 3, 28);
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    font-size: 48px;
}

header {
    padding: 10px 0;
    border-bottom: 1px solid rgb(24, 2, 108);
}

main {
    padding: 40px 80px;
}

img {
    width: 100%;
    max-width: 280px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 40px 0 80px 0;
}

.card {
    border-radius: 12px;
    text-align: center;
    border: 1px solid rgb(24, 2, 108);
    width: 100%;
    max-width: 320px;
    padding: 20px 10px;
}